
<!doctype html>
<html lang="en">
<head>

    <title>Cart</title>
    <script src="/customer.js"></script>
    <link href="/customerStyle.css" rel="stylesheet">

</head>

<body>

<div class="payment-container">
    <div class="row">
        <div class="col-md-12">
            <h1>Cart</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="order">
                    <div class="order-content">
                        <h2>Order Summary</h2>
                        <div class="divider"></div>
                        <table class="order-table">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="container">
    <p>Danny Murray - 19331403</p>
</footer>

</body>
</html>