<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>BRS</title>

    <link href="/static/images/logo.png" rel="icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css">
    <script rel="script" src="main.js"></script>

</head>
<body>
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo me-auto">
            <a href="/"><img src="/images/logo.png" alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link active" href="/">Home</a></li>
                <li><a class="nav-link" href="/products">Products</a></li>
            </ul>
        </nav><!-- .navbar -->
        <a type="button" class="btn login-btn ms-4" href="/login">Login</a>

        <div class="d-flex align-items-center ms-4">
            <a href="/cart"><img src="/images/cart-logo.png" alt="" class="img-fluid"></a>
        </div>

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left">
        <h1>Welcome to <span>Bog Roll Supreme</span></h1>
        <h2>We are the industry leaders in a plug and play AI models</h2>
        <a href="/products" class="btn-get-started">See Our Products</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>The Team</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/images/team/brendan.jpeg" alt="">
                        <h4>Brendan Sadlier</h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/images/team/alex.JPG" alt="">
                        <h4>Alex O'Donnell</h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/images/team/danny.JPG" alt="">
                        <h4>Danny Murray</h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/images/team/cian.JPG" alt="">
                        <h4>Cian Kelly</h4>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/images/team/eoin.JPG" alt="">
                        <h4>Eoin McMahon</h4>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->
    </main>

</body>
</html>