<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
          name="viewport"
          content="width=device-width,
               initial-scale=1.0"/>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
  <link rel="stylesheet" href="/paymentStyle.css" class="css" />
  <script rel="script" src="/customer.js"></script>
  <script>
    function openPopUp(){
      document.getElementById("popup").style.display = "block";
    }

    function closePopUp(){
      document.getElementById("popup").style.display = "none";
    }
  </script>
</head>
<body>
<div class="container">
  <div class="main-content">
  </div>

  <div class="centre-content">
    <h1 class="price">Payment</h1>
    <p class="course">
      Your order will cost: €<span id="totalPrice">0</span>
    </p>
  </div>


  <div class="last-content">
    <button type="button" class="pay-now-btn">
      Apply Coupons
    </button>
    <button type="button" class="pay-now-btn">
      Pay with Bitcoin
    </button>


  </div>

  <form class="card-details" action="/payment" method="post">
    <p>Pay using Credit or Debit card</p>

    <div class="card-number">
      <label> Card Number </label>
      <input type="text" class="card-number-field" placeholder="###-###-###" required />
    </div>
    <br />
    <div class="date-number">
      <label> Expiry Date </label>
      <input type="text" class="date-number-field" placeholder="DD-MM-YY" required />
    </div>

    <div class="cvv-number">
      <label> CVV number </label>
      <input type="text" class="cvv-number-field" placeholder="xxx" required />
    </div>
    <div class="nameholder-number">
      <label> Card Holder name </label>
      <input type="text" class="card-name-field" placeholder="Enter your Name" required />
    </div>
    <button type="submit" class="submit-now-btn" onclick="openPopUp()">submit</button>
  </form>
</div>
<div id="popup" class="poppup">
  <div class="popup-content">
    <span class="close" onclick="closePopUp()">&times;</span>
    <p>Payment Complete!</p>
  </div>
</div>
</body>
</html>